.container {
    width: 305px;
    margin-top: 30px;
}

.container:nth-child(4n) {
    margin-right: 0;
}

.brand {
    font-weight: bold;;
}

.description {
    font-size: 15px;
    line-height: 15px;
    max-height: 15px * 3; 
    overflow: hidden;
}

.discount {
    color: #3B8448;
}

.final-price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 8px;
}

.image {
    height: 204px;
    width: 100%;
    
}

.list-price-container {
    font-size: 12px;
    margin-top: 6px;
}

.quick-ship {
    width: 79px;
    height: 19px;
    margin-top: 8px;
}

.list-price {
    color: #666666;
    text-decoration: line-through;
}

.view-package {
    height: 41px;
    width: 100%;
    cursor: pointer;
    background-color: #F5F5F5;
    color: #3B8448;
    border: 1px solid #9B9B9B;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 15px;
}